﻿@model BobCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeAfterMainContent)" />

@await Component.InvokeAsync("SampleDataForm")
