﻿.navbar-inverse {
    margin-bottom: 0px !important;
}

.body-content > .row {
    display: table;
    width: 100%;
}

    .body-content > .row > .col-sm-2 {
        background-color: #4A4A4A;
        float: none;
        display: table-cell;
        padding: 0px;
    }

    .body-content > .row > .col-sm-10 {
        float: none;
        display: table-cell;
    }

    .body-content > .row > .col-sm-2 .tab {
        background-color: #2D2D2D;
        color: #717171;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 17px;
    }

    .body-content > .row > .col-sm-2 ul {
        list-style-type: none;
        padding-left: 0px;
        margin: 0px;
    }

        .body-content > .row > .col-sm-2 ul li {
            padding: 20px 0px 20px 0px;
            padding-left: 40px;
            border-left: solid 5px transparent;
        }

            .body-content > .row > .col-sm-2 ul li.selected {
                border-left: solid 5px #7ED320;
            }

            .body-content > .row > .col-sm-2 ul li a {
                font-size: 20px;
                color: #fff;
                text-decoration: none;
            }

footer {
    display: none !important;
}

.navbar-right {
    margin-right: 0px !important;
}

.header-content > .row > .col-sm-2 {
    background-color: #4A4A4A;
    height: 75px;
}

.header-content > .row {
    width: 100%;
}

    .header-content > .row > .col-sm-10 {
        background-color: #85AC5B;
        height: 75px;
    }

.nav > li > a:hover, .nav > li > a:focus {
    background-color: inherit !important;
}

.navbar-nav > li > a, .navbar-btn {
    color: #fff !important;
    text-decoration: none !important;
}

.cls-title {
    float: left;
    text-align: left;
}

.cls-button {
    float: right;
    text-align: right;
}

body[dir='rtl'] .col-sm-2 {
    float: right;
}

body[dir='rtl'] .navbar-right {
    float: left !important;
}

body[dir='rtl'] .navbar-nav > li {
    float: right;
}

body[dir='rtl'] .body-content > .row > .col-sm-2 ul li.selected {
    border-right: solid 5px #7ED320;
    border-left: none;
}

body[dir='rtl'] .body-content > .row > .col-sm-2 ul li {
    padding-right: 40px;
    padding-left: inherit;
}

body[dir='rtl'] th.ng-binding {
    text-align: right;
}

body[dir='rtl'] .cls-title {
    float: right !important;
    text-align: right;
}

body[dir='rtl'] .cls-button {
    float: left !important;
    text-align: left;
}

body[dir='rtl'] input[type='checkbox'] {
    margin-right: -20px;
}

body[dir='rtl'] .col-sm-offset-2 {
    margin-right: 16%;
    margin-left: inherit;
}

body[dir='rtl'] .radio label, .checkbox label {
    padding-left: inherit;
    padding-right: 20px;
}

body[dir='rtl'] .nav-tabs {
    padding-right: 0px;
}

    body[dir='rtl'] .nav-tabs > li {
        float: right;
    }

body[dir='rtl'] .form-horizontal .control-label {
    text-align: left !important;
}

body[dir='rtl'] .range-day {
    float: right;
}

body[dir='rtl'] .body-content > .row > .col-sm-2 ul {
    padding-right: 0px;
}
#bobLogo {
    height: 70px;
}
.button-text-right{
    text-align: right;
}
body[dir='rtl'] .button-text-right{
    text-align: left;
}

@media only screen and (max-width: 1024px) {
    #bobLogo {
        height: inherit;
        width: 100%;
        padding-top: 10px;
    }
    .body-content > .row > .col-sm-2 ul li {
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    select{
        width: 50% !important;
    }
}