﻿@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <h1>@Localizer["Dashboard"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer["Latest orders"]</h3>
            </div>
            <div class="panel-body">
                <order-widget status="0" num-records="10"></order-widget>
            </div>
        </div>
    </div>
</div>