﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8 cls-title">
            <h2>{{::vm.translate.get('Users')}}</h2>
        </div>
        <div class="col-md-4 text-right cls-button" ng-show="!vm.impersonation">
            <a ui-sref="user-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{::vm.translate.get('Create User')}}</a>
        </div>
    </div>
</div>

<table class="table table-striped" st-pipe="vm.getUsers" st-table="vm.users">
    <thead>
        <tr>
            <th>
                <div class="form-group">
                    <input class="form-control" st-search="FullName" />
                </div>
            </th>
            <th>
                <div class="form-group">
                    <input class="form-control" st-search="Email" />
                </div>
            </th>
            <th>
                <div class="form-group">
                    <select class="form-control" st-search="RoleId">
                        <option value="">{{::vm.translate.get('All')}}</option>
                        <option ng-repeat="role in vm.roles" value="{{role.id}}">{{role.name}}</option>
                    </select>
                </div>
            </th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th st-sort="FullName" class="sortable">{{::vm.translate.get('FullName')}}</th>
            <th st-sort="Email" class="sortable">{{::vm.translate.get('Email')}}</th>
            <th>{{::vm.translate.get('Position')}}</th>
            <th>{{::vm.translate.get('Last Login Date')}}</th>
            <th>{{::vm.translate.get('Actions')}}</th>
        </tr>
        <tr>
            <th ng-show="!vm.isLoading" colspan="6">{{vm.tableStateRef.pagination.totalItemCount | number:0}} {{::vm.translate.get('records found')}}</th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="user in vm.users">
            <td>{{user.fullName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles.join(', ')}}</td>
            <td>{{user.lastLoginDate | date:'medium' }}</td>
            <td>
                <a ui-sref="user-edit({id: user.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
                <button ng-click="vm.deleteUser(user)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="6" class="text-center">Loading ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="6"></td>
        </tr>
    </tfoot>
</table>	