﻿@model LoginViewModel
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OpenIdConnect

@{
    ViewData["Title"] = Localizer["Log in"];
}

<style>
    .top-bar {
        display: none;
    }
    .main-header, .main-nav, .footer-content {
        display: none;
    }
    .centered{
        text-align: center;
        margin: 0 auto;
    }
    .gorup-fa{
        position: relative;
    }
    .group-fa i{
        position: absolute;
        top: 10px;
        right: 40%;
    }
    .validation-summary-errors ul {
        list-style-type: none;
    }
</style>
<div class="row">
    <div class="col-md-12 centered">
        <section>
            <form asp-area="Core" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="form-group row" style="height: 150px;"></div>
                <img alt="BobCommerce" src="~/modules/core/logo.png" />
                <h4>@Localizer["Login"]</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="group-fa">
                            <input asp-for="Email" class="form-control centered" placeholder="@Localizer["Email"]" /><span><i class="fa fa-envelope"></i></span>
                        </div>
                        <span asp-validation-for="Email" class="text-danger centered"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="group-fa">
                            <input asp-for="Password" class="form-control centered" placeholder="@Localizer["Password"]" /><span><i class="fa fa-lock"></i></span>
                        </div>
                        <span asp-validation-for="Password" class="text-danger centered"></span>
                    </div>
                </div>
                <div class="form-group row" style="display: none;">
                    <div class="offset-md-4 col-md-8">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Localizer["Remember me?"]
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" style="margin-right: 50px; color: #0090BC; visibility: hidden;">@Localizer["Sign in"]</a>
                        <button type="submit" class="btn btn-primary" style="margin-left: 50px; background-color: #0090BC;">@Localizer["Login"]</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
