﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8 cls-title">
            <h2>{{::vm.translate.get('Vendor Tables')}}</h2>
        </div>
        <div class="col-md-4 text-right cls-button" ng-show="!vm.impersonation">
            <a ui-sref="tables-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{::vm.translate.get('Add a Table to a Location')}}</a>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Table Number')}}</th>
            <th>{{::vm.translate.get('Table Shape')}}</th>
            <th>{{::vm.translate.get('Table Color')}}</th>
            <th>{{::vm.translate.get('QR Code')}}</th>
            <th>{{::vm.translate.get('Location')}}</th>
            <th>{{::vm.translate.get('Actions')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="table in vm.tables">
            <td>{{table.tableNumber}}</td>
            <td>{{table.tableShape}}</td>
            <!--<td>{{table.tableColor}}</td>-->
            <td ng-switch="table.tableColor">
                <span ng-switch-when="#FF0000" style="background-color: #FF0000;">{{::vm.translate.get('red')}}</span>
                <span ng-switch-when="#FFFF00" style="background-color: #FFFF00;">{{::vm.translate.get('yellow')}}</span>
                <span ng-switch-when="#0000FF" style="background-color: #0000FF;">{{::vm.translate.get('blue')}}</span>
                <span ng-switch-when="#00FF00" style="background-color: #00FF00;">{{::vm.translate.get('green')}}</span>
                <span ng-switch-when="#A52A2A" style="background-color: #A52A2A;">{{::vm.translate.get('brown')}}</span>
                <span ng-switch-when="#000000" style="background-color: #000000;">{{::vm.translate.get('black')}}</span>
            </td>
            <td>{{table.qrCode}}</td>
            <td>{{table.vendorName}}</td>
            <td>
                <a ui-sref="tables-edit({id: table.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
                <button ng-click="vm.deleteTable(table)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="page-header">
    <div class="row">
        <div class="col-md-8 cls-title">
            <h2>{{::vm.translate.get('Tables Management')}}</h2>
        </div>
        <div class="col-md-4 text-right cls-button">
            <a ui-sref="tables-mgmt-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{::vm.translate.get('Assign a Table to a Waiter')}}</a>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{::vm.translate.get('Waiter Name')}}</th>
            <th>{{::vm.translate.get('Tables')}}</th>
            <th>{{::vm.translate.get('Location')}}</th>
            <th>{{::vm.translate.get('Actions')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tableMgmt in vm.tablesMgmt">
            <td>{{tableMgmt.userName}}</td>
            <td>{{tableMgmt.assignedTables}}</td>
            <td>{{tableMgmt.vendorName}}</td>
            <td>
                <!--<a ui-sref="tables-mgmt-edit({id: tableMgmt.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>-->
                <button ng-click="vm.deleteTableMgmt(tableMgmt)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
</table>