﻿<style>
    @font-face {
        font-family: CCodeQR;
        src: url("fonts/CCodeQR_Trial.eot");
        src: local("CCodeQR_Trial"), url("fonts/CCodeQR_Trial.otf") format("opentype"), url("fonts/CCodeQR_Trial.woff") format("woff");
    }
    #qrCodeFonts {
        font-weight: normal;
        font-style: normal;
        line-height: normal;
        font-family: 'CCodeQR', sans-serif;
        font-size: 12px;
        white-space: pre-line;
        width: 252px;
    }
    .scanNo{
        display: none;
    }
    .canvasSmall {
        font-size: 90px;
    }
    .canvasLarge {
        font-size: 160px;
    }
    #divPrint {
        background-color: #fff;
        width: 280px;
    }
    #previewImage{
        width: 252px;
        height: 466px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script>
    function printElemEN() {
        $("#divPrint .scanNo").show();
        var element = $("#divPrint");
        var fourChars = $(".canvasSmall").html();
        var tableNo = $(".canvasLarge").html();
        //debugger;
        var getCanvas;
        html2canvas(element, {
            onrendered: function (canvas) {
                $("#divPrint .scanNo").hide();
                $("#previewImage").append(canvas);
                
                getCanvas = canvas;
                var imgageData = getCanvas.toDataURL("image/png");
                
                var win1 = window.open();
                win1.document.write(
                    '<html>' +
                    '<head><style>@media print{#finalPrint{display:none;} body:before {content: url(images/tableEN.png);} * {-webkit-print-color-adjust: exact !important; color-adjust: exact!important;}} </style></head>' +
                    '<body style="background-image: url(\'images/tableEN.png\'); background-repeat: no-repeat; position: relative;">' +
                    '<div style="float: left; width: 100%;">' +
                    '<img src="' + imgageData + '"/ style="position: absolute; top: 410px; left: 340px; width: 150px;">' +
                    '<div style="position: absolute; width: 210px; text-align: center; top: 70px; left: 0px; font-size: 150px; color: #fff;">' + tableNo + '</div>' +
                    '<div style="position: absolute; width: 210px; text-align: center; top: 200px; left: 0px; font-size: 70px; color: #fff;">' + fourChars + '</div>' +
                    '</div>' +
                    '<div style="float: left; width: 100%;">' +
                    '<input type="button" id="finalPrint" value="Print" onclick="window.print();" style="position: absolute; left: 600px;">' +
                    '</div>' +
                    '</body>' +
                    '</html>');
            }
        });
    }
    function printElemHE() {
        $("#divPrint .scanNo").show();
        var element = $("#divPrint");
        var fourChars = $(".canvasSmall").html();
        var tableNo = $(".canvasLarge").html();
        //debugger;
        var getCanvas;
        html2canvas(element, {
            onrendered: function (canvas) {
                $("#divPrint .scanNo").hide();
                $("#previewImage").append(canvas);

                getCanvas = canvas;
                var imgageData = getCanvas.toDataURL("image/png");

                var win1 = window.open();
                win1.document.write(
                    '<html>' +
                    '<head><style>@media print{#finalPrint{display:none;} body:before {content: url(images/tableHE.png);} * {-webkit-print-color-adjust: exact !important; color-adjust: exact!important;}} </style></head>' +
                    '<body style="background-image: url(\'images/tableHE.png\'); background-repeat: no-repeat; position: relative;">' +
                    '<div style="float: left; width: 100%;">' +
                    '<img src="' + imgageData + '"/ style="position: absolute; top: 410px; left: 340px; width: 150px;">' +
                    '<div style="position: absolute; width: 210px; text-align: center; top: 70px; left: 0px; font-size: 150px; color: #fff;">' + tableNo + '</div>' +
                    '<div style="position: absolute; width: 210px; text-align: center; top: 200px; left: 0px; font-size: 70px; color: #fff;">' + fourChars + '</div>' +
                    '</div>' +
                    '<div style="float: left; width: 100%;">' +
                    '<input type="button" id="finalPrint" value="Print" onclick="window.print();" style="position: absolute; left: 600px;">' +
                    '</div>' +
                    '</body>' +
                    '</html>');
            }
        });
    }
</script>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!vm.isEditMode">{{::vm.translate.get('Create Table')}}</h2>
        <h2 ng-if="vm.isEditMode">{{::vm.translate.get('Edit Table')}}</h2>
    </div>
    <div class="panel-body">
        <form name="taxClassForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Table Number')}}</label>
                <div class="col-sm-10" ng-if="!vm.isEditMode">
                    <input name="name" ng-model="vm.table.tableNumber" class="form-control" />
                </div>
                <div class="col-sm-10" ng-if="vm.isEditMode">
                    {{vm.table.tableNumber}}
                </div>
            </div>
            <div class="form-group" ng-if="vm.isEditMode">
                <label class="col-sm-2 control-label">{{::vm.translate.get('QR Code')}}</label>
                <div class="col-sm-10">
                    {{vm.table.uniqueId}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Table Shape')}}</label>
                <div class="col-sm-10">
                    <!--<input name="name" ng-model="vm.table.tableShape" class="form-control" />-->
                    <select class="form-control" ng-model="vm.table.tableShape">
                        <option value="round">{{::vm.translate.get('round')}}</option>
                        <option value="square">{{::vm.translate.get('square')}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Table Color')}}</label>
                <div class="col-sm-10">
                    <!--<input name="name" ng-model="vm.table.tableColor" class="form-control" />-->
                    <select class="form-control" ng-model="vm.table.tableColor">
                        <option value="#FF0000">{{::vm.translate.get('red')}}</option>
                        <option value="#FFFF00">{{::vm.translate.get('yellow')}}</option>
                        <option value="#0000FF">{{::vm.translate.get('blue')}}</option>
                        <option value="#00FF00">{{::vm.translate.get('green')}}</option>
                        <option value="#A52A2A">{{::vm.translate.get('brown')}}</option>
                        <option value="#000000">{{::vm.translate.get('black')}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Location')}}</label>
                <div class="col-sm-10" ng-if="!vm.isEditMode">
                    <select class="form-control" ng-model="vm.table.vendorId" ng-options="vendor.id as vendor.name for vendor in vm.vendors"></select>
                </div>
                <div class="col-sm-10" ng-if="vm.isEditMode">
                    {{vm.table.vendorName}}
                </div>
            </div>
            <div class="form-group" ng-if="vm.isEditMode">
                <label class="col-sm-2 control-label">{{::vm.translate.get('QR Code')}}</label>
                <div class="col-sm-10">
                    <div class="scanNo canvasSmall">{{vm.table.uniqueId}}</div>
                    <div class="scanNo canvasLarge">{{vm.table.tableNumber}}</div>
                    <div id="divPrint">
                        <div id="qrCodeFonts">{{vm.table.qrCode}}</div>
                        <div id="previewImage" style="display: none;">
                        </div>
                    </div>
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <input type="button" value="Print (en-US)" onclick="printElemEN()" />
                    <input type="button" value="Print (he-IL)" onclick="printElemHE()" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> {{::vm.translate.get('Save')}}</button>
                    <button ui-sref="tables" class="btn btn-default">{{::vm.translate.get('Cancel')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>