﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!vm.isEditMode">{{::vm.translate.get('Assign Table')}}</h2>
        <h2 ng-if="vm.isEditMode">{{::vm.translate.get('Edit Table Assignment')}}</h2>
    </div>
    <div class="panel-body">
        <form name="taxClassForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group" style="display: none;">
                <label class="col-sm-2 control-label">{{::vm.translate.get('Vendor')}}</label>
                <div class="col-sm-10">
                    <!--<select class="form-control" ng-change="vm.onChangeVendor(vm.vendorId)" ng-model="vm.vendorId" ng-options="vendor.id as vendor.name for vendor in vm.vendors"></select>-->
                    <select class="form-control" ng-change="vm.onChangeVendor(vm.vendorId)" ng-model="vm.vendorId">
                        <option ng-repeat="vendor in vm.vendors" value="{{vendor.id}}" selected="{{vm.vendorId == vendor.id}}">{{vendor.name}}</option>
                    </select>
                </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{::vm.translate.get('Waiter')}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="vm.userId" ng-options="user.id as user.name for user in vm.users"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{::vm.translate.get('Tables')}}</label>
                    <div class="col-sm-10">
                        <div class="checkbox" ng-repeat="vendorTable in vm.vendorTables">
                            <label>
                                <input type="checkbox" ng-checked="vm.assignedTables.indexOf(vendorTable.tableNumber) > -1" ng-click="vm.toggleTables(vendorTable.tableNumber)"> {{vendorTable.tableNumber}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> {{::vm.translate.get('Save')}}</button>
                        <button ui-sref="tables" class="btn btn-default">{{::vm.translate.get('Cancel')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
