﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    vm.createOrder = function createOrder() {
        orderService.createOrder(
            vm.cart.id,
            {
                shippingMethod: "Free",
                shippingAddressId: 0,
                newAddressForm: { countryId: "US", stateOrProvinceId: 2 },
                orderNote: null,
                useShippingAddressAsBillingAddress: true
            }
        ).then(function (result) {
            toastr.success("Order created");
            $state.go('order-detail', { id: result.data.id });
        }).catch(function (response) {
            toastr.error(response.data);
        });
    };
    function createOrder(cartId, orderInfo) {
        //alert('123');
        return $http.post('api/cart/' + cartId + '/order', orderInfo);
    }
    function test() {
        //alert($('#btnCreateOrder').length);
        var orderInfo = { shippingMethod: "Free", shippingAddressId: 0, newAddressForm: { countryId: "US", stateOrProvinceId: 2 }, orderNote: null, useShippingAddressAsBillingAddress: true };
        $.post('CheckoutApi/api/cart/10/order', orderInfo, function (data) {
            alert("Data Loaded: " + data);
        });
    }
</script>
<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button class="btn btn-primary" id="btnCreateOrder" onclick="test();" ng-click="createOrder()"><span class="glyphicon glyphicon-ok"></span>Order</button>
</div>
